<section class="col-lg-12 col-sm-12 col-md-12  d-inline-flex p-0 m-0">
  <div class="col-lg-6  p-0 m-0"></div>
  <div class="col-lg-6  p-0 m-0 text-center">
    <div class="col-lg-12  h-25 derecha text-white fw-bold"><br><br>
  <p class="col-lg-12    text-white fa fa-users usuarios ">45 Usuarios </p>
    </div>
    <div class="col-lg-12   h-25 "></div>
    <div class="col-lg-12 h-25"> </div>
    <div class="col-lg-12  text-center" >
      <button type="button" class="btn btn-primary" (click)="openSM(contenido)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>Registrar</button>
    </div>
    <br><br>
    <div class="col-lg-12  fa fa-clock-o text-white  d-inline-flex " id="timer">
      <p id="dias"></p>Dias:<p id="horas"></p>Horas:<p id="minutos"></p>Minutos:<p id="segundos"></p>Segundos
    </div>
  </div>
</section>



<ng-template #contenido let-modal class="form-register">
    <div class="modal-header">
        <h4 class="modal-title">Registro Tombola</h4>
        <button class="controls1" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Ingrese su Telefono">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Cargo en la empresa">
        <input class="botons btn btn-success" type="submit" value="Registrar">
        </div>
      </form>
      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button>
    </div>
</ng-template>


